html {
    width: 400px;
    height: 580px;
}

body {
    /* background-color: ; */
    text-align: center;
    margin: 25px 25px;
}

::-webkit-scrollbar {
    display: none;
}

div.mood_options img.opt {
    width: 30px;
    height: 30px;
}

.mood_options {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 10px; */
}
 
.opt_with_text {
    display: inline-block;
    /* padding: 0.5rem; */
    vertical-align: middle;
    text-align: center;
    /* width: 30px; */
}

.mood-text {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
}

img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 0 0 0 1px #b5a7a4;
}

#journal {
    height:150px;
    font-size:11pt;
    text-align: left;
}

form textarea {
    resize: none;
}
